/* Empty. Add your own CSS if you like */

.camera {
  font-size: 2em;
}

textarea {
  resize: none;
  height: 3em;
}

.post-content {
  height: 30vh;
}
.circle {
  position: relative;
  border: 1px solid black;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin: 0 auto;
  top: 0px;
}

.bar__profile--header {
  height: 35%;
}

.has__profile--header {
  top: 35%;
}
