/* Empty. Add your own CSS if you like */

.camera {
  font-size: 2em;
}

textarea {
  resize: none;
  height: 3em;
}

.post-content {
  height: 30vh;
}

.bar__profile--header {
  height: 35%;
}

.has__profile--header {
  top: 35%;
}

.bar__profile--user {
  position: relative;
  height: 100%;
  margin: 0 auto;
  bottom: 0px;
}

.bar__profile--username {
  height: 20%;
  text-align: center;
}

.bar__profile--userimage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  border: 1px solid black;
  max-height: 70%;
  border-radius: 75px;
  margin-left: auto;
  margin-right: auto;
}



.btn-hide {
  visibility: hidden;
}

/*.profile__info {
  display: block;
  padding-top: 2px;
  padding-left: 0;
  height: 34px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
}*/


div label input {
   margin-right:100px;
}
body {
    font-family:sans-serif;
}

.ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    display: inline-block;
}

.ck-buttons {
  margin: 10px auto 0px auto;
  text-align: center;
}
.ck-button {
  width: 45%;
}
.ck-button label {
    width: 100%;
}

.content {
  padding: 2em;
}