/* Empty. Add your own CSS if you like */
.title {
  font-size: 1.5em;
}

.txt {
  margin-top: 10px;
}

.camera {
  font-size: 2em;
}

textarea {
  resize: none;
  height: 3em;
}

.post-content {
  height: 30vh;
}

/*=========================================
  Profile
=========================================*/
.profile__bar--header {
  height: 35%;
}

.has__profile--header {
  top: 35%;
}

.profile__bar--user {
  position: relative;
  height: 100%;
  margin: 0 auto;
  bottom: 0px;
}

.profile__bar--username {
  height: 20%;
  text-align: center;
}

.profile__bar--userimage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  border: 1px solid black;
  max-height: 70%;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}

.profile__bio--textarea {
  border: 1px dotted gray;
  width: 100%;
  min-height: 100%;
  margin: 0 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42857;
}

.profile__bio--textarea[disabled] {
  border: none;
  background-color: white;
  width: 100%;
  min-height: 100%;
}

input.profile__social--input {
  display: inline;
}

.profile__main--link,
.profile__social--link {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: inherit;
}

.scroll {
  height:75%;
}


.btn-hide {
  visibility: hidden;
}
/* End Profile */
/*=========================================*/


div label input {
   margin-right:100px;
}
body {
    font-family:sans-serif;
}

.ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    display: inline-block;
}

.ck-buttons {
  margin: 10px auto 0px auto;
  text-align: center;
}
.ck-button {
  width: 45%;
}
.ck-button label {
    width: 100%;
}

.create-img {
  height: 250px;
  width: 250px;
}

.content {
  padding: 2em;
}

.file-upload {
  display: none;
}

i:hover, .blue {
  color: #6cf;
}

.item-avatar > img:first-child {
  top: 50px;
}

.post-icons i {
  font-size: 1.75em;
}

.post-icons i:first-child {
  margin-right: 2em;
  margin-left: 2em;
  padding-left: 2em;
}
