<style>
  #chat{
    height:500px;
  }
  .templateWrap{
    display: block;  
  }
  #chatWrap{
    width:90%;
    display: block;
    border: 1px #000 solid;
  }
  .error{
    color: red;
  }
  .whisper{
    color: gray;
    font-style: italic;
  }
</style>

<div id="contentWrap">
  <div id="chatWrap">
    <div id="chat"></div>
    <form id="send-message">
      <input size="35" id="message"></input>
      <input type="submit"></input>
    </form>
  </div>
</div>
<div class="templateWrap"> 
</div>
