<div id='container' ng-controller='PostCtrl'>
  <div class="col-md-12">
    <rd-widget>
      <rd-widget-body>
        <div class="title" class="col-md-12">
          Title: {{data.post.title}}
        </div>
        <div class="author">
          Author: {{data.post.author}}
        </div>
        <div class="content">
          Content: {{data.post.content}}
        </div>
        <div class="tags">
          Tags: {{data.post.tags}}
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>

</div>
