<div id='container'>
  <div class="row">

    <div ng-repeat="post in data.posts" class="col-md-12">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon blue pull-left viewcountdiv">
            <div class="viewcount">15</div>
            <div class="views">views</div>
          </div>
          <div>
            <div class="title"><a href="/#/post/{{ post._id }}">Title: {{post._source.title}}</a></div>
            <div class="author">Author: {{post._source.author}}</div>
            <div class="content">Content: {{post._source.content}}</div>
            <div class="tags">Tags: {{post._source.tags}}</div>
            <div class="date">Date: {{post._source.created_at}}</div>
          </div>
        </rd-widget-body>
      </rd-widget>
    </div>

  </div>
</div>
