<ion-view view-title="Create">
  <ion-content>
    <div id='container'>
      <hr/>
      <div ng-style="{'background-color':'white', 'margin-top':'-30px'}" >
        <div ng-style="{'margin-left':'20px'}">
          <p ng-style="{'padding-top':'3px'}"><h2>Create a post</h2></p>
        </div>
        <form name="createPostForm">
          <!-- title -->
          <label class="item item-input">
              <textarea ng-model="title" ng-keypress="removeEnterTitleInstruction()" ng-keydown="addEnterTitleInstruction($event)" placeholder="Enter listing or question"></textarea>
          </label>


          <!-- post -->
          <label class="item item-input">
              <textarea placeholder="Enter Description"></textarea>
          </label>


          <div ng-style="{'margin-left':'20px'}">
            <!-- Pick a (tag) category -->
            <p ng-style="{'margin-top':'-30px'}"><h4>Select a category tag</h4></p>
            <div ng-click="addTag('question'); showInstruction() ; toggleDisable(); removeSelectCategoryInstruction()" ng-style="{'background-color':'#5492C9', 'width':'120px','border-radius':'3px', 'text-align': 'center', 'display':'inline-block'}" ng-disabled='createPostForm.$invalid || isDisabled'><span ng-style="{'display':'inline-block', 'line-height': '30px'}"><font color="white" size='3px'>#question</font></span></div>

            <div ng-click="addTag('listing'); showInstruction() ; toggleDisable(); removeSelectCategoryInstruction()" ng-style="{'background-color':'#5492C9', 'width':'120px','border-radius':'3px', 'text-align': 'center', 'display':'inline-block', 'margin-left':'20px'}" ng-disabled='createPostForm.$invalid || isDisabled'><span ng-style="{'display':'inline-block', 'line-height': '30px'}"><font color="white" size='3px'>#listing</font></span></div>

            <div ng-click="addTag('other'); showInstruction() ; toggleDisable(); removeSelectCategoryInstruction()" ng-style="{'background-color':'#5492C9', 'width':'120px','border-radius':'3px', 'text-align': 'center', 'display':'inline-block', 'margin-left':'20px'}" ng-disabled='createPostForm.$invalid || isDisabled'><span ng-style="{'display':'inline-block', 'line-height': '30px'}"><font color="white" size='3px'>#other</font></span></div>
            </br></br>

            <!-- add tags -->
            Tags <input type="text" autocapitalize="off" autocorrect="off" autocomplete="off" value="" name="tags" placeholder="{{tagPlaceholder}}" ng-model="tag" ng-style="{ 'width' : '250px' , 'margin-left':'20px', 'padding-left':'5px'}">
            <button class="btn btn-sm btn-primary" ng-click="addTag(tag); showInstruction(); toggleDisable()">add</button> <font color="red">{{newTagBlankError}} {{repeatedTagError}} {{tagHasSpaceError}}</font>
            
            <!-- submit button -->
            <div ng-style="{'margin-top':'-90px', 'margin-right':'20px'}">
              <button class="btn btn-lg btn-primary" ng-click="createPost()" ng-style="{'float':'right', 'width':'100px'}" ng-disabled='createPostForm.$invalid || isDisabled'>Post</button></br></br></br>
              <div ng-style="{'float':'right'}"><font color='#5492C9'>{{enterTitleInstruc}}</font></div></br>
              <div ng-style="{'float':'right'}"><font color='#5492C9'>{{categoryInstruc}}</font></div>
            </div>
          </div>
        </form>

        <div ng-style="{'margin-left':'20px'}">
          <!-- tag deleting instruction -->
          <p ng-style="{'margin-top':'20px'}"><font color="green"> {{ instruction }} </font></p>

          <!-- added tags -->
          <ul>
            <div ng-repeat="eachTag in tags track by $index" ng-click="removeTag($index)" ng-style="{'background-color':'#5492C9', 'border-radius':'3px', 'text-align': 'center', 'display':'inline-block', 'margin':'2px'}">
              <span ng-style="{'display':'inline-block', 'line-height': '25px', 'padding':'5px'}">
                <font color="white">#{{ eachTag }}</font>
              </span>
            </div>
          </ul>

          <!-- photo upload -->
          <div style="margin-top: 30px">
            Upload a Photo
            <input  onchange="angular.element(this).scope().add()" type="file" id="file" name="file" style="margin-top: 10px" ng-click="showImagePreviewFn()"/></br>
            <div ng-show="toShowImagePreview">
              <p>Preview</p>
              <image id="pic" src="" style="margin-top: 0px; width:100px; height:100px;"></image>
            </div>
          </div></br>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>