<ion-view view-title="Posts">
  <br>
  <br>
  
    <div class="card">
      <div class="item item-text-wrap">
        <div class="title"><a href="/#/post/{{ post._id }}">{{post._source.title}}</a>
        </div>
        <div ng-bind-html='post._source.contentNoTags | limitTo: 400'>
        </div>
        <hr>
        <div class="authorTags">
          <div class="pull-left">
            <img style="width:50px; border-radius: 2px" src="img/avatar.jpg"/>
          </div>
          <div class="pull-right" style=" margin: 5px 10px;">
            <div class="author">
              <a href="http://www.github.com/{{post._source.author}}">@{{post._source.author}}</a>
            </div>
            <div class="date">
              Posted: {{post._source.created_at}}
            </div>
          </div>
        </div>
      </div>
    </div>
  
</ion-view>
