<ion-view view-title="Post">
  <ion-content>
     <div class="post card">
       <div class="item-divider post-header item item-avatar">
          <img ng-src="{{data.post.authorAvatarUrl || 'img/avatar.jpg'}}">
          <h1>{{data.post.title}}</h1>
         <h2>
            <a ui-sref="profileTabs.main({username: data.post.author})">{{data.post.authorName || '@' + data.post.author}}</a>
          </h2>
         <p>{{data.post.created_at | date : 'short'}}</p>
         <p ng-if="user === data.post.author" class="post-icons">
          <a href="/#/app/{{data.post._id}}/edit"><i class="icon ion-edit"></i></a>
          <a><i ng-click="deletePost()" class="icon ion-trash-a"></i></a>
         </p>
       </div>
       <div class="post-body item-text-wrap">
         <img ng-if="data.post.data" class="full-image" ng-src="{{data.post.data}}">
          <div class="content" ng-bind-html='data.post.content'>
          </div>
           <p class="info">
             <span class="subdued">{{data.post.votes || 0}} Likes</span>
             <span class="subdued">{{data.comments.length || 0}} Comments</span>
           </p>
       </div>

       <div class="item item-divider tabs tabs-secondary tabs-icon-left">
         <div class="tab-item" ng-click="upVotePost(data.post, data.post._id)">
           <i ng-class="{'blue icon ion-thumbsup': data.post.isUpvoted, 'icon ion-thumbsup': !data.post.isUpvoted}"></i>
           Like
         </div>
         <div class="tab-item" ng-click="showComment()">
           <i class="icon ion-chatbox"></i>
           Comment
         </div>
       </div>

     </div>
     
     <form name="commentForm" ng-if="commentBox" ng-submit="createComment()" class="list list-inset">
       <label class="item item-input">
         <textarea ng-model="comment.word" placeholder="What do you think?" required></textarea>
       </label>
         <button ng-disabled="commentForm.$invalid" class="button button-block button-outline button-calm">Submit</button>
     </form>
     <div ng-repeat="comment in data.comments | orderBy: '-votes'" class="list card comment">
       <div class="item">
         <a ui-sref="profileTabs.main({username: comment._source.author})">{{comment._source.authorName || '@' + comment._source.author}}</a>
         <p>{{comment._source.created_at | date: 'short'}}</p>
       </div>
       <div class="content" ng-bind-html='comment._source.content'></div>
         <div class="item tabs tabs-secondary tabs-icon-left">
          <div class="tab-item subdued">
            {{comment.votes}} Likes
          </div>
          <div class="tab-item" ng-click="upVoteComment(comment, comment._id)">
           <i ng-class="{'blue icon ion-thumbsup': comment.isUpvoted, 'icon ion-thumbsup': !comment.isUpvoted}"></i>
             Like
          </div>
         </div>
     </div>
  </ion-content>
</ion-view>