<ion-view view-title="Post">
  <ion-content>
     <div class="card">

       <div class="item-divider item item-avatar">
         <img src="img/avatar.jpg">
         <h2>{{data.post.author}}</h2>
         <p>{{data.post.created_at}}</p>
       </div>

       <div class="item item-body item-text-wrap">
         <img ng-if="data.post.data" class="full-image" ng-src="{{data.post.data}}">
         <p>
           {{data.post.content}}
         </p>
         <p>
           <span class="subdued">{{data.post.votes}} Likes</span>
           <span class="subdued">{{data.comments.length}} Comments</span>
         </p>
       </div>

       <div class="item item-divider tabs tabs-secondary tabs-icon-left">
         <div class="tab-item" ng-click="upVote(post._id)">
           <i class="icon ion-thumbsup"></i>
           Like
         </div>
         <div class="tab-item" ng-click="showComment = !showComment">
           <i class="icon ion-chatbox"></i>
           Comment
         </div>
       </div>

     </div>
     <form name="commentForm" ng-if="showComment" ngSubmit="createComment()" class="list list-inset">
       <label class="item item-input">
         <textarea ng-model="text" placeholder="What do you think?" required></textarea>
       </label>
         <button ng-disabled="commentForm.$invalid" class="button button-block button-outline button-calm">Submit</button>
     </form>
     <div ng-repeat="comment in data.comments" class="list card">
       <div class="item">
         {{comment._source.author}}
         <p>{{comment._source.created_at}}</p>
       </div>
       <div class="item item-body">
         {{comment._source.content}}
       </div>
         <div class="item tabs tabs-secondary tabs-icon-left">
          <div class="tab-item subdued">
            {{comment.votes}} Likes
          </div>
          <div class="tab-item" ng-click="upVote(comment._id)">
           <i class="icon ion-thumbsup"></i>
             Like
          </div>
         </div>
     </div>
  </ion-content>
</ion-view>