<ion-view title="Contact">
  <ion-content class="has-header has__profile--header">
    <div class="list">
      <a class="item item-icon-left" href="#">
        <i class="ion-social-facebook"></i>
        Facebook
      </a>
      <a class="item item-icon-left" href="#">
        <i class="ion-social-instagram"></i>
        Instagram Handle
      </a>
      <a class="item item-icon-left" href="#">
        <i class="ion-social-twitter"></i>
        Twitter handle
      </a>
      <a class="item item-icon-left" href="#">
        <i class="ion-social-linkedin"></i>
        LinkedIn
      </a>
    </div>
  </ion-content>
</ion-view>