<ion-view title="Social">
  <ion-content class="has__profile--header">
    <div class="list">
      <a class="item item-icon-left" ng-href="https://github.com/{{userData._source.gitHubUser.login}}">
        <i class="ion-social-github"></i>
        {{userData._source.gitHubUser.name}}
      </a>
      <a class="item item-icon-left" ng-href="https://www.facebook.com/{{userData._source.social.facebook}}">
        <i class="ion-social-facebook"></i>
        {{userData._source.social.facebook}}
      </a>
      <a class="item item-icon-left" href="https://www.instagram.com/{{userData._source.social.instagram}}">
        <i class="ion-social-instagram"></i>
        {{userData._source.social.instagram}}
      </a>
      <a class="item item-icon-left" href="https://www.twitter.com/{{userData._source.social.twitter}}">
        <i class="ion-social-twitter"></i>
        {{userData._source.social.twitter}}
      </a>
      <a class="item item-icon-left" href="#">
        <i class="ion-social-linkedin"></i>
        LinkedIn handle (needs work)
      </a>
    </div>
  </ion-content>
</ion-view>