<ion-nav-bar>
  <ion-nav-back-button ng-click="data.goBack()">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>

<!-- <div class="bar bar-header bar-light bar__profile-header"> -->
    <div class="circle"></div>
<!-- </div> -->

<ion-tabs class="tabs-icon-top tabs-calm">
  <ion-tab title="Main" icon="ion-android-contact" href="#/user/main">
    <ion-nav-view name="main-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Bio" icon="ion-information-circled" href="#/user/bio">
    <ion-nav-view name="bio-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Links" icon="ion-link" ui-sref="profileTabs.links">
    <ion-nav-view name="links-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>