<div class="bar-header bar-light bar__profile-header">
  <a class="button icon-left ion-chevron-left button-clear button-dark"
     ng-click="data.goBack()">Back</a>
  <div class="circle"></div>
</div>

<ion-tabs class="tabs-icon-top tabs-calm">
  <ion-tab title="Main" icon="ion-android-contact" href="#/user/main">
    <ion-nav-view name="main-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Bio" icon="ion-information-circled" href="#/user/bio">
    <ion-nav-view name="bio-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Social" icon="ion-link" ui-sref="profileTabs.social">
    <ion-nav-view name="social-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>